public net.minecraft.inventory.container.Container field_75149_d # listeners
public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos
public net.minecraft.world.gen.DimensionSettings <init>(Lnet/minecraft/world/gen/settings/DimensionStructuresSettings;Lnet/minecraft/world/gen/settings/NoiseSettings;Lnet/minecraft/block/BlockState;Lnet/minecraft/block/BlockState;IIIZ)V # constructor
public-f net.minecraft.client.world.DimensionRenderInfo field_239208_a_ # dimension render info map
# public-f net.minecraft.util.registry.DynamicRegistries field_243599_b # registryCodecMap